# General Modules
django==3.2.10
python-decouple
pillow
djangorestframework
coreapi
djangorestframework-simplejwt
djoser

# Third party modules
drf-yasg[validation]
markdown
django-filter
django-mail-templated
django-cors-headers


# formatting and testing modules
black
flake8
pytest
pytest-django
Faker

# background processing and caching modules
celery